<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>23079761245-gp3tjcm52rhjlu0da5g884ardv699cmb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.23079761245-gp3tjcm52rhjlu0da5g884ardv699cmb</string>
	<key>API_KEY</key>
	<string>AIzaSyBTksLsGeaFQp0a6mjI3S0dXNjZ07C0uzs</string>
	<key>GCM_SENDER_ID</key>
	<string>23079761245</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.djallel.uleartech</string>
	<key>PROJECT_ID</key>
	<string>ulearn-38e7d</string>
	<key>STORAGE_BUCKET</key>
	<string>ulearn-38e7d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:23079761245:ios:7e91c2717b8aad8b37a4b4</string>
</dict>
</plist>